tqdm
decord
timm
einops
opencv_python
torchvision
scipy
accelerate

bitsandbytes
omegaconf
iopath
webdataset
ftfy
SentencePiece
transformers
gradio
pytorchvideo
gradio-client
torchaudio
pycocotools
pycocoevalcap
openai
python-dotenv
wandb

kubernetes